" This file is managed by Ansible, all changes will be lost

" using ansible variable, the if's are not necessary...
if filereadable(expand("{{ vim_root_bundles }}"))
  source {{ vim_root_bundles }}  " load default plugin bundles
endif

{% if vimrc_recommended %}
    source {{ vim_root_recommended }}
{% endif %}

" Local config
if filereadable($HOME . "/.vimrc.local")
  source ~/.vimrc.local
endif
